body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d2b48c;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #CAB493;
    color: #000000;
    text-align: center;
}

header {
    padding: 20px;
    font-size: 2em;
}

footer {
    padding: 10px;
}

main {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

nav {
    width: 20%;
    background-color: #DED1B5;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

nav a {
    display: block;
    color: #8b4513;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

section {
    width: 80%;
    padding: 1%;
    box-sizing: border-box;
    background-color: #F5F4DF;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: flex-start;
}

img {
    padding-left: 20px;
    padding-bottom: 30px;
    width: 40%;
    height: auto;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) td {
    background-color: #f5deb3;
}

tr:nth-child(odd) td {
    background-color: #d2b48c;
}

button {
    text-align: left;
    margin-bottom: 10px;
    max-width: fit-content;
}

button[type="reset"] {
    background-color: #d3d3d3;
}

.event {
    display: flex;
    align-items: center;
    padding: 10px;
}

.event img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.event-description {
    font-weight: normal;
}

audio {
    margin-top: 10px;
}
